@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


html {
    box-sizing: border-box;
}


body {
    padding: 0;
    margin: 0;
    background-color: lavenderblush;
    color: black;
    font-family: 'Roboto', sans-serif;
}

header {
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 0 20px;
}

nav>ul {
    list-style-type: none;
    display: inline-flex;
    gap: 8px;
}

.btn {
    border: none;
    border-radius: 15px;
    background-color: lavender;
    color: black;
    padding: 5px 10px;
    text-decoration: none;
}

main {
    display: flex;
    gap: 20px;
    padding: 20px;
}

#content {
    flex: 5;
    gap: 20px;
    display: flex;
    flex-direction: column;   
    flex-wrap: nowrap;
}

article {
    padding: 10px;
    border-radius: 15px;
    background-color: indianred;
}

aside {
    padding: 10px;
    border-radius: 10px;
    background-color: beige;
    box-shadow: 5px  5 px lightcoral;
    flex: 1;

}

aside ul {
    list-style-type: none;
}

aside li {
    text-decoration: none;
}

footer{
    display: block;
    background-color: black;
    color: azure;
}

@media screen and (max-width: 1000px) {
    main {
      flex-flow: column nowrap;
    }
  
    aside {
      align-self: center;
    }
  }
  
  @media screen and (max-width: 768px) {
    nav ul {
      justify-content: center;
    }
  
     aside {
      align-self: stretch;
    }
  }