@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}


body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    background-color: #1C1B1F;
    color: black;
    font-family: 'Roboto', sans-serif;
}

header {
    border-bottom: 1px solid #938F99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #D0BCFF;
    padding: 0 20px;
}

nav>ul {
    list-style-type: none;
    display: inline-flex;
    gap: 8px;
}

.btn {
    border: none;
    border-radius: 15px;
    background-color: #CCC2DC;
    color: #332D41;
    padding: 5px 10px;
    text-decoration: none;
}

main {
    display: flex;
    gap: 20px;
    padding: 20px;
}

#content {
    flex: 5;
    gap: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

article {
    padding: 20px;
    border-radius: 15px;
    background-color: indianred;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
    max-height: 18rem;
    min-width: 13rem;
    border-radius: 10px;
    padding: 0.5rem;
    background-color: #D0BCFF;
    text-align: left;
    color: #381E72;
}

#about,
#contact {
    margin: 0.5rem;
    font-weight: 700;
    padding: 0 13px;
    background-color: #EADDFF;
    border-radius: 18px;
    color: #4F378B;
}


i {
    margin: 1rem;
    scale: 2;
}

aside ul {
    padding: 0;
    list-style-type: none;
}

aside li {
    text-transform: capitalize;
    text-decoration: none;
    margin: 0 0 10px 0;
}

aside h2 {
    margin-left: 1rem;
}

footer {
    position: sticky;
    top: 100%;
    height: 30px;
    text-align: center;
    padding: 10px;
    background-color: black;
    color: azure;
}

@media screen and (max-width: 768px) {

    main {
        flex-flow: column nowrap;
    }

    nav ul {
        justify-content: center;
    }

    aside {
        align-self: stretch;
    }
}